
@{
    ViewBag.Title = "Acerca";
}

<!DOCTYPE html>
<div class="card mt-3" style="width:40rem;">
    <div class="row row-cols-2 ">
        <div class="col">
            <div class="card text-white bg-primary mb-3 mt-5 ml-3" style="max-width: 18rem;">
                <div class="card-header">Autores</div>
                <div class="card-body">
                    <h5 class="card-title">Alejandra Chirinos</h5>
                    <h5 class="card-title">Tomás Conelli</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Asignatura</div>
                <div class="card-body">
                    <h5 class="card-title">Programación Avanzada de Aplicaciones</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <div class="card text-white bg-success mb-3 ml-3" style="max-width: 18rem;">
                <div class="card-header">Fecha</div>
                <div class="card-body">
                    <h5 class="card-title">17 de julio del 2020</h5>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Docente</div>
                <div class="card-body">
                    <h5 class="card-title">Leonardo Norambuena</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 justify-content-center ml-5" style="max-width: 540px;">
        <div class="row no-gutters align-items-center">
            <div class="col-md-4">
                <img src="~/Content/c2c.gif" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Contactanos</h5>
                    <p class="card-text">info@c2c.cl</p>
                    <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
<a href="/home">Home</a>
